@import url(menu_header.css);
@import url(colors_variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    
    grid-template-areas:
    "header header"
    "container container"
    "footer footer";
    
    min-height: 100dvh;
    
    .header {
        grid-area: header;
    }
    
    .container {
        grid-area: container;
    }

    .footer {
        grid-area: footer;
    }
}